<div class="vh-100 text-center text-white d-flex flex-column justify-content-center align-items-center">
  <div class="card border border-dark">
    <div class="card-body">
      <div class="card-title">
        <h1 class="text-center">New Tweet</h1>
      </div>
      <div class="card-text text-break p-1 mt-4 mb-2">
        <%= render 'form', tweet: @tweet %>
      </div>
      <%= link_to 'Back', tweets_path, class:"btn btn-primary" %>
    </div>
  </div>
