<div class="d-flex flex-column align-items-center justify-content-around" style="height: 100vh">
  <h1 class="text-center">New Tweet</h1>
  <%= render 'form', tweet: @tweet %>
  <%= link_to 'Back', tweets_path, class:"btn btn-dark d-block " %>
</div>
