<div class="h-100 text-center text-white d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-center">New Tweet</h1>
  
  <%= render 'form', tweet: @tweet %>
  <%= link_to 'Back', tweets_path, class:"btn btn-dark my-3" %>
</div>
