<div class="vh-100 text-center text-white d-flex flex-column justify-content-center align-items-center">
  <div class="mt-3 card border border-dark w-100">
    <div class="card-body">
    <div class="card-title border-bottom border-success">
      My <%= @tweet.id %> tweet created
    </div>
      <div class="card-text text-break p-2 mb-2">
        <%= @tweet.body%>
      </div>
      <%= link_to 'Edit', edit_tweet_path(@tweet), class:"card-link btn btn-warning mb-1" %> |
      <%= link_to 'Back', tweets_path, class:"card-link btn mb-1 btn-primary" %>
    </div>
  </div>

