<p id="notice"><%= notice %></p>
<div class="border border-dark rounded text-break p-1 mb-2 d-flex" id="singularTweet">
  <%= @tweet.body%>
</div>
<%= link_to 'Edit', edit_tweet_path(@tweet), class:"btn btn-warning" %> |
<%= link_to 'Back', tweets_path, class:"btn btn-secondary" %>
